// nice grey color: #66666a;

html, body {
  background: #171718;
  font-family: 'Heebo', sans-serif;
  color: #f3f3f3;
  overflow: hidden;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .app-content {
      margin: 0 auto;
      height: 90%;
      width: 100%;
      .main {
        margin: 0 auto;
        // width: 80%;
        height: 65%;
        .app-child {
          position: relative;
          height: 100%;
          width: 100%;
          .progress-bar-container {
            position: absolute;
            top: 0;
          }
          .timer-container {
            position: absolute;
            z-index: 1;
            width: 100%;
            top: 50%;
            margin: 0 auto;
            .timer {
              font-family: 'Major Mono Display', monospace;
              font-size: 40px;
              color: #f3f3f3;
              font-weight: 400;
              text-align: center;
            }
            .timer-buttons {
              // margin: 80px auto 30px auto;
              display: flex;
              justify-content: center;
              margin-top: 10px;
              .button-container {
                margin: 16px;
                button {
                  background: #9bfff1;
                  border: 1px solid black;
                  text-align: center;
                  margin: 0 auto;
                  display: block;
                  font-size: 16px;
                  color: #171718;
                  outline: none;
                  border-radius: 16px;
                  padding: 10px 16px;
                  min-width: 100px;
                  text-transform: uppercase;
                  &:disabled {
                    opacity: 0.5;
                  }
                  &:hover {
                    background: lighten(#9bfff1, 10%);
                  }
                  &:active {
                    background: darken(#9bfff1, 15%);
                  }
                }
              }
            }
          }
        }
      }
     .secondary {
       height: 35%;
       .splits-list {
        text-align: center;
        height: 100%;
        h5 {
          font-size: 85%;
          color: #a6a6a6;
          margin-bottom: 15px;
        }
        ul {
          height: 100%;
          overflow-y: auto;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          margin: 0 auto;
          font-size: 90%;
          li {
            margin: 8px auto;
          }
        }
      }
     } 
  }
}

@media screen and (orientation:landscape) {
  .app-wrapper {
     .app-content {
        margin: 0 auto;
        height: 90%;
        display: flex;
        .main {
          height: 100%;
          width: 65%;
          .app-child {
            .timer-container {
              top: 30%;
              margin: 0 auto;
            }
          }
        }
        .secondary {
          height: 100%;
          width: 35%;
        } 
     }
  }
}