// nice grey color: #66666a;

html {
  background: #171718;
  font-family: 'Heebo', sans-serif;
  color: #f3f3f3;
}

.app {
  min-height: 100vh;
  position: relative;
  .app-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;

    .timer-container {
      .timer {
        font-family: 'Major Mono Display', monospace;
        font-size: 40px;
        color: #f3f3f3;
        font-weight: 400;
      }
    }

    .timer-buttons {
      margin: 60px auto 30px auto;
      display: flex;
      justify-content: center;
      .button-container {
        width: 70px;
        button {
          background: #9bfff1;
          border: 1px solid black;
          text-align: center;
          margin: 0 auto;
          display: block;
          font-size: 22px;
          color: #171718;
          outline: none;
          border-radius: 10px;
          &:disabled {
            opacity: 0.5;
          }
          &:active {
            background: lighten(#9bfff1, 5%);
          }
        }
      }
    }

    .splits-list {
      text-align: center;
      h5 {
        font-size: 85%;
        color: #a6a6a6;
        margin-bottom: 15px;
      }
      ul {
        height: 180px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        li {
          margin: 8px auto;
        }
      }
    }
  }
}
